<%= form_with(model: nuke, local: true) do |form| %>
  <% if nuke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nuke.errors.count, "error") %> prohibited this nuke from being saved:</h2>

      <ul>
      <% nuke.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nuke_code %>
    <%= form.text_field :nuke_code, id: :nuke_nuke_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
