<p id="notice"><%= notice %></p>


<style>
body{
  background-image: url('assets/nuke.png');
  margin: 0 auto;
  width: 100%;
  height: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   background-attachment: fixed;
}
</style>

<div class="nuke_bar">
  <p><%= link_to 'Reveal Codes', nuke_path(@nuke), class: 'reveal' %></p>
</div>

Time <%=  Time.now.strftime('%d'+'%I'+'%M').to_i %>

Nuke <%= time1 = Time.now.strftime('%I'+'%M').to_i - @nuke.update_codes.to_i %>

Pres <%= time2 = Time.now.strftime('%I'+'%M').to_i - @nuke.president.to_i %>

Secr <%= @nuke.secretary.to_i %>
